

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #E3E3E3;
}

p {
  font-family: Helvetica, Arial, sans-serif;

}

#heading {
  text-align: left;
}

#hash_example {
  background: black;
  width: 400px;
  height: 175px;
  color: white;
  padding: 15px;
}

#array_example {
  background: black;
  width: 400px;
  height: 300px;
  color: white;
  padding: 15px;
}

div a:hover{
 color: white;
}