.header {
  width:960px;
  height:120px;
  background-color: #0b0c38;
  padding-left: 30px;
  padding-right: 30px;}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;}

#logo {
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  vertical-align: bottom;
  color: #C1F0F6;
}

#navigation {
  font-family: Helvetica, Arial, sans-serif;
  float: right;
  text-align: bottom;}

h3 {
  font-family: Helvetica, Arial, sans-serif;}

.content {
  font-family: Helvetica, Arial, sans-serif;
  width:960px;
  height:430px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  color: white;}

p {
  font-family: Helvetica, Arial, sans-serif;}


a:link {
 color: #C1F0F6;
 text-decoration:none;}

a:hover{color: #ffffff;}

a:visited {color: #C1F0F6;}


.footer {
  width:960px;
  height:120px;
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;}