.heading {
  width:960px;
  height:120px;
  background-color: #575757;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.body {width:960px;}

div h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  bottom: 0px;
}

.div1 {
  float: left;

}

.div2 {
  float: right;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

div body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #E3E3E3;
  background-repeat: no-repeat;

  width:960px;
}

p {
  font-family: Helvetica, Arial, sans-serif;

}

#heading{
  text-align: left;
}

div a:hover{
 color: white;
}

a:link {
 color: white;

}
