.navbar-default {
height: 100px;
padding-top: 50px;
}

.navbar-inverse {
  padding-top: 20px;
  padding-bottom: 0;
}

.navbar-inverse p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
}

.navbar-nav {
  font-family: roboto;
}

.navbar-brand {
  font-family: roboto;
  font-weight: bold;
  font-size: 30px !important;
}

.navbar-nav a {
    color: #3f8dbf;
  }









